:root{
    --c1: #7D0A0A;
    --c2: #BF3131;
    --c3: #EAD196;
    --c4: #F3EDC8;
    --c5: #1D2B53;
    
    scroll-behavior: smooth;
}

@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Salsa;
    src: url(assets/fonts/Salsa-Regular.ttf);
}

/*BUILTIN*/

body{
    background-image: linear-gradient(var(--c1), var(--c2));
}

h1{
    color: var(--c4);

    font-family: Salsa;

    text-align: center;

    background-color: var(--c1);
}

h2{
    color: var(--c3);

    font-family: Salsa;
}

p{
    color: var(--c4);

    font-family: Montserrat;
}

a{
    color: var(--c3);
}

/*IDS*/

#title{
    background-color: var(--c1);

    border-style: dashed;
    border-color: var(--c3);
    border-width: 4px;

    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 32px;
}

#boxLeft{
    background-color: var(--c1);

    float: left;

    position: fixed;

    padding: 32px;

    border-style: dashed;
    border-color: var(--c3);
    border-width: 4px;

    margin-left: 2em;
    margin-top: -206px;

    width: 6em;

    text-align: center;
}

#boxRight{
    background-color: var(--c1);

    float: right;

    padding: 32px;

    border-style: dashed;
    border-color: var(--c3);
    border-width: 4px;

    width: 6em;

    margin-right: 2em;

    text-align: center;
}

#boxContact{
    min-height: 256px;
}

/*CLASSES*/

.project{
    display: inline-block;
}

.projectImg{
    width: 192px;
}

.projectState{
    margin-top: -16px;
    font-style: italic;
}

.projectName{
    font-weight: bold;
}

.socialLogo:hover{
    width: 70px;
}

.boxMid{
    /*padding: 32px;*/
    background-color: var(--c1);

    float: center;

    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;

    border-style: dashed;
    border-color: var(--c3);
    border-width: 4px;

    margin-left: 14em;
    margin-right: 14em;
    margin-bottom: 2em;

    text-align: center;
}

.listItem:hover{
    font-weight: bold;
}

.titleLogo{
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}